*{
    box-sizing: border-box;
}
header{
    background-color: orange;
    display: flex;
    padding: 15px 30px;
}
footer{
    background-color: #444444;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}
main{
    padding: 30px;
    min-height: calc(83vh + 18px);
}
a{
    text-decoration: none;
    color: black;
}
.menu__logo{
    font-size: 32px;
    font-weight: 700;
    color: rgb(0, 0, 0) !important;
}
.menu__logos{
    flex: 1;
}
.menu__navs{
    display: flex;
    align-items: center;
    width: fit-content;
}
.menu__nav{
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}
.active{
    color: #fff;
}